<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>EduTalks | Register new users</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./assets/style/register.css">
    <link
    href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200"
    rel="stylesheet" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="shortcut icon" href="/assets/images/logo.svg" type="image/svg+xml">
    {{if .MessageError}}
    <style>
        .ErrorMessage {
            background-color: #ff5d5d;
            margin-top: 10px;
            padding: 10px 30px;
            border-radius: 3px;
            color: white;
            width: 100%;
            font-size: 14px;
            text-align: center;
        }
    </style>
    {{end}}
</head>

<body>
    <div class="container {{if .Register}} active {{end}}" id="container">
        <div class="form-container active-form  sign-up" id="sign-up-form">
            <form method="POST" action="/register">
                <h1>Create Account</h1>
                <input type="text" id="user" name="username" placeholder="Username" required>
                <div id="usernameMessage" class="message"><i class="material-icons check-uncheck"
                        style="font-size: 10px;">&#xe5c9;</i> Username must contain only letters and numbers.</div>
                <input type="email" id="email" name="email" placeholder="Email" required>
                <div id="emailMessage" class="message"><i class="material-icons check-uncheck"
                        style="font-size: 10px;">&#xe5c9;</i> Invalid email format.</div>
                <div class="password-container">
                    <input type="password" name="password" id="pass" placeholder="Password" required>
                    <span class="material-symbols-outlined toggle-password">visibility_off</span>
                </div>
                <div class="passChecker">
                    <div class="number"><i class="material-icons check-uncheck" style="font-size: 10px;">&#xe5c9;</i> A
                        number</div>
                    <div class="lower"><i class="material-icons check-uncheck" style="font-size: 10px;">&#xe5c9;</i> A
                        lowercase letter</div>
                    <div class="symbol"><i class="material-icons check-uncheck" style="font-size: 10px;">&#xe5c9;</i> A
                        symbol ex(@\']...)</div>
                    <div class="length"><i class="material-icons check-uncheck" style="font-size: 10px;">&#xe5c9;</i>
                        Minimum 8 characters</div>
                    <div class="upper"><i class="material-icons check-uncheck" style="font-size: 10px;">&#xe5c9;</i> A
                        capital (uppercase) letter</div>
                </div>
                <div class="password-container">
                    <input id="confirmPass" type="password" name="password" placeholder="Password" required>
                    <span class="material-symbols-outlined toggle-password">visibility_off</span>
                </div>
                <div id="confirmPassMessage" class="message"><i class="material-icons check-uncheck"
                        style="font-size: 10px;">&#xe5c9;</i> Confirmation password does not match.</div>
                <button type="submit" id="registerBtn" disabled>Register</button>
                <p>You have an account? <a href="#" onclick="switchForm('login')">Sign in</a></p>
                {{if .MessageError}}
                {{if .Register}}
                <div class="ErrorMessage">
                    <i class="material-icons" style="font-size: 14px;">&#xe000;</i> {{.MessageError}}
                </div>
                {{end}}
                {{end}}
                
            </form>
        </div>

        <div class="form-container sign-in" id="login-form">
            <form method="POST" action="/login">
                <h1>Sign In</h1>
                <input type="text" name="email" placeholder="Email" required>
                <div class="password-container">
                    <input type="password" name="password" placeholder="Password" required>
                    <span class="material-symbols-outlined toggle-password">visibility_off</span>
                </div>
                <p>Don't have an account? <a href="#" onclick="switchForm('register')">Sign Up</a></p>
                <button type="submit">Sign In</button>
                {{if .MessageError}}
                {{if not .Register}}
                <div class="ErrorMessage">
                    <i class="material-icons" style="font-size: 14px;">&#xe000;</i> {{.MessageError}}
                </div>
                {{end}}
                {{end}}
            </form>
        </div>

        <div class="toggle-container">
            <div class="toggle">
                <div class="toggle-panel toggle-left">
                    <h1>Welcome Back!</h1>
                    <p>Enter your personal details to use all of site features</p>
                    <button class="hidden" id="loginBtn">Sign In</button>
                </div>
                <div class="toggle-panel toggle-right">
                    <h1>Hello, Friend!</h1>
                    <p>Register with your personal details to use all of site features</p>
                    <button class="hidden" id="registerBtnToggle">Sign Up</button>
                </div>
            </div>
        </div>
    </div>
    <script>

        document.querySelectorAll('.toggle-password').forEach(toggle => {
            toggle.addEventListener('click', function () {
                const input = this.previousElementSibling;
                const type = input.getAttribute('type') === 'password' ? 'text' : 'password';
                input.setAttribute('type', type);
                this.textContent = type === 'password' ? 'visibility_off' : 'visibility';
            });
        });


        function switchForm(type) {
            const loginForm = document.querySelector('.sign-in');
            const registerForm = document.querySelector('.sign-up');
            const buttons = document.querySelectorAll('.mobile-switch button');

            // Remove active class from all forms
            [loginForm, registerForm].forEach(form => {
                form.classList.remove('active-form');
            });

            // Add active class to selected form
            if (type === 'login') {
                loginForm.classList.add('active-form');
            } else {
                registerForm.classList.add('active-form');
            }

            // Update button states
            buttons.forEach(button => {
                button.classList.remove('active');
                if (button.textContent.toLowerCase() === type) {
                    button.classList.add('active');
                }
            });
        }
        


        // Initialize mobile view
        window.addEventListener('load', () => {
            if (window.innerWidth <= 768) {
                switchForm('login');
            }
        });
    </script>
    <script src="/assets/js/register.js"></script>
</body>

</html>